/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
spec/rails5/log/
spec/rails5/tmp/
spec/rails6/log/
spec/rails6/tmp/
spec/rails7/log/
spec/rails7/tmp/
.projections.json
.byebug_history

# rspec failure tracking
.rspec_status
Gemfile.lock
