/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
spec/rails7/log/
spec/rails7/tmp/
.projections.json
.byebug_history

# rspec failure tracking
.rspec_status
Gemfile.lock
/.Gemfile
vendor
