# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
          - "3.1"
          - "3.2"
          - "3.3"
        solargraph-version:
          - "0.48.0"
          - "0.49.0"
          - "0.50.0"
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Cache RVM
        uses: actions/cache@v3
        id: rvm
        with:
          key: ${{ runner.os }}-rvm-${{ matrix.ruby-version }}
          path: |
            /home/runner/.rvm
            /home/runner/.yardoc
            #/usr/local/rvm/
      #- name: Setup upterm session
      #  uses: lhotari/action-upterm@v1
      - name: Test
        run: "/bin/bash ./ci.sh ${{ matrix.ruby-version }} ${{ matrix.solargraph-version}}"
